*{
    margin: 0;
    padding: 0;
}

body{
    background-size: cover;
    font-family: Arial, sans-serif;
    margin-top: 15%;
    text-align: center;
}

.corpo {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.botoes {
    margin-top: 20px;
    text-align: center;
}

p {
    margin-bottom: 10px;
}

input[type="number"] {
    padding: 5px;
    width: 100px;
}

input[type="button"] {
    padding: 5px 20px;
    background-color: #0079FF;
    color: white;
    border: none;
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}